* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: rgba(128, 128, 128, 0.055);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.LG_logo {
  width: fit-content;
  height: fit-content;
  background: #0aadbc;
  color: white;
  padding: 12px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 900;
  
}

.logo_container {
  margin: 10px;
  display: flex;
  width: fit-content;
  height: fit-content;

  /* display: none; */
}

ul {
  list-style: none;
}

.logoContent {
  margin-top: 3px;
  margin-left: 8px;
}

#AgenceVoyage {
  font-weight: 700;
  font-size: 15px;
}

#Decouvrir {
  font-size: 13px;
  font-weight: 500;
  color: grey;
}

.nav_selection {
  display: flex;
  gap: 70px;
}

.nav_selection li {
  list-style: none;
  padding: 15px;
}

.nav_selection li:hover {
  padding: 15px;
  background: #0aadbc15;
  border-radius: 15px;
}

#btn_reserver {
  background: #0aadbc;
  border-radius: 15px;
  color: white;
}

#btn_reserver:hover {
  background: #0aadbc;
  opacity: 0.8;
  border-radius: 15px;
  color: white;
}

.nav_group {
  display: flex;
  gap: 50px;
  font-weight: 300;
  /* display: none; */
}

.navbar img {
  width: 30px;
}

.menue_after {
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: white;
  width: fit-content;
  margin: 10px;
  border-radius: 15px;
  height: calc(100vh - 133px);
  max-height: calc(100vh - 133px);
  overflow-y: auto;
  padding: 20px 0;
  display: none;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 200px;
}

.menue_after.is-open {
  display: flex;
}

#relativelogo {
  margin-bottom: 10px;
  align-self: center;
}

.menue_after li {
  margin-bottom: 12px;
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 12px 24px;
  box-sizing: border-box;
}

.menue_after ul {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.menue_after li:hover {
  background: #0aadbc15;
}
